<div class="center jumbotron">
	<h1>Sample</h1>
	<h2 class="weak">Practice makes perfect.</h2>
	<p><%= link_to "Sign up.", signup_path, class: "btn btn-lg btn-primary" %></p>
</div>
<p class="weak">A <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org' %> application.</p>