@import "bootstrap-sprockets";
@import "bootstrap";

/* base */
textarea {
	resize: both;
}
input,
select,
textarea {
	width: 100%;
	margin-bottom: 1em;
}

/* layout */
.footer {
	border-top: 1px solid $gray-lighter;
}

/* modules */
.logo {
	color: white;
	text-transform: uppercase;

	&:hover {
		color: white;
		text-decoration: none;
	}
}
.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}
.checkbox {
	margin-left: 1.25em;
	font-weight: normal;
}

/* utilities */
.is-hidden {
	display: none;
}
.weak {
	color: $gray-light;
}