<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to "sample", root_path, class: 'logo' %>
		<nav>
			<ul class="nav navbar-nav pull-right">
				<li><%= link_to "home",		root_path %></li>
				<li><%= link_to "help",		help_path %></li>
				<li><%= link_to "log in", login_path %></li>
			</ul>
		</nav>
	</div>
</header>